$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 19%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: $dark-gray;
}

body {
  height: 100vh;
  background: url(assets/desktop/bg-image-daytime.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
